---
layout: page
title: posts/
---
<h3>All posts:</h3>
{% for post in site.posts %}
<div class="post-list-item">
	<time class="post-time-label" datetime="{{ post.date | date_to_xmlschema }}">[{{ post.date | date: "%m/%d/%Y" }}]</time>
<a href="{{ post.url }}">{{ post.title }}</a>
</div>
{% endfor %}
