  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <title>{% if page.url == "/" %}{{ site.site_name }}{% else %}{{site.site_name}}/{{ page.title }}{% endif %}</title>
  </head>
