body {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 8px auto;
	font-size: 16px;
}

hr.top-lines {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.45), transparent);
	margin: 5px 0;
}

h1.header-label {
	font-size: 1.75em;
	margin: 0.75rem 0;
	letter-spacing: 0.5px;
	text-align: center;
}

a {
	color: #333;
}

.doc {
	margin: 1rem 0;
}

.post-time-label {
	width: 8em;
}

.post-list-item {
	display: flex;
	margin: 1em;
	font-size: 1.25em;
}
