---
layout: default
---
<div>
	{% include navbar.html %}
	<hr class="top-lines" />
	<header>
		<h1 class="header-label">{% if page.url == "/" %}{{ site.site_name }}{% else %}{{site.site_name}}/{{ page.title }}{% endif %}</h1>
	</header>
	<hr class="top-lines" />
	<main class="doc">
		{{ content }}
	</main>
	<hr class="top-lines" />
	<footer class="doc">
		nvladislav9 at gmail.com
	</footer>
</div>
